<!DOCTYPE html>
<html lang="es">
<head>
    <title>Youtochi-Banwire File Tokenizer and Pay</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/logo_purple.png"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/nya-bs-select.min.css">
    <link rel="stylesheet" type="text/css" href="/ngToast.min.css">
    <link rel="stylesheet" type="text/css" href="/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="/app.min.css">
</head>

  <style type="text/css">
    #gmapsmio {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
     top: 100px;
}
.file-drop-zone {
     border:2px dashed #ddd;
     padding:30px;
     text-align: center;
     width: 250px;
}
.file-drop-zone-over {
     border:2px dashed #aaa;
     padding:30px;
     text-align: center;
     width: 250px;
}
.file-description {
     vertical-align: text-top;
     width: 250px;
}
.image-container {
      width:  250px;
       margin-top :30px;
}

.headerBanwire {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;

  line-break: auto;
     text-align: left;
}
  </style>
<body >
<script type="text/javascript" src="/angular.min.js"></script>
<!-- Drag and drop -->

              <div class="headerBanwire"  style="margin-top:50px;margin-left:50px;">
                     <span > BANWIRE: Herramienta de Tokenizacion y Pagos por Archivos </span>
                     <a href="/v1/index">
                        <button class="btn btn-primary" id="botonTtitle">Tokenizacion</button>
                     </a>
                     <a href="/v1/indexpay">
                     <button class="btn btn-primary" id="botonPtitle">Pagos</button>
                     </a>
                     <a href="/v1/indexconsulta">
                     <button class="btn btn-primary" id="botonCtitle">Consulta</button>
                     </a>
              </div >


<div ng-app="module" ng-controller="myCtrl" style="margin-top:50px;margin-left:100px;">
              <div>
                   <span >Client Reference: </span>
                    
              </div> 
              <div >
                  <textarea class="textarea" ng-model="clientreference"></textarea >
                   
   
              </div> 
              <div>
                   
                   <button class="btn btn-primary" id="boton1" ng-click="consultok()">Consultar Tokens</button> 
                    
   
              </div> 
              <div>
                   <span >Token: </span>
                    
   
              </div> 
              <div >
                  <textarea class="textarea" ng-model="token"></textarea >
                    
   
              </div> 

              <div>
                   
                   <button class="btn btn-primary" id="boton2" ng-click="consulhist()">Consultar Historial Pagos del Token</button>
                    
   
              </div> 

                  <div id='datosresultados'> 
                  </div>

              <div>
                   <span>Respuesta: </span>
              </div> 
              <div>
                    <textarea class="textarea" ng-model="respuesta"></textarea >
   
              </div> 
<!--              
              <div>
                   <span>Cantidad de Pagos: </span>
              </div> 
              <div>
                    <textarea class="textarea" ng-model="numtokenizadas"></textarea >
   
              </div> 

              <div>
                   <span>Status: </span>
                    
              </div> 
              <div>
                     <textarea class="textarea" ng-model="status"></textarea >
              </div> 
-->              
</div>


<script type="text/javascript">
     (function(){
           'use strict';
            var boton1 = document.getElementById("boton1");
            var boton2 = document.getElementById("boton2");
            
            //grayout the button of the current screen
            var botonTitle = document.getElementById("botonCtitle");
            botonTitle.disabled = true;

            var module = angular.module('module',[]);
            module.controller('myCtrl',function($scope,$http){
                $scope.files = [];
                $scope.description='';
                $scope.remove = function(index){
                     var files = [];
                     angular.forEach($scope.files, function(file,key){
                          if(index != key){
                             files.push(file);
                          }             
                          $scope.files =files;
                     } );
                }

                $scope.consultok = function(){
                        
                        var a="/v1/consultartokens";
                        boton1.disabled = true;
                        boton2.disabled = true;

                        var filetextarea = $scope.clientreference;
                        /*
                        window.open(a+'?contenidofileconsultaTok='+filetextarea, '_blank');
                                boton1.disabled = false;
                                boton2.disabled = false;
                       */
                        var fd = new FormData();
                        //now add other data to fd
                        fd.append('clientreference',$scope.clientreference);
                       var request = $http ({
                           method: 'GET',
                           url : '/v1/consultartokens?contenidofileconsultaTok='+$scope.clientreference,
//                            data : fd,
//                           transformRequest: angular.identity,
                           headers : {
                               'Content-Type' : undefined
                           }
                        });
                        if($scope.clientreference.length >0){
                               request.then(
                                 function(response){
                                  boton1.disabled = false;
                                  boton2.disabled = false;
                                   console.log(JSON.stringify(response.data) );
                                   var statusMssg =response.data.status_message_file;

                                   var resultados =response.data.data_row;

                                   if(statusMssg.indexOf("ERROR")>= 0 ){
                                        $scope.respuesta = statusMssg;

                                   }else{
                                        $scope.respuesta = statusMssg;
                                        
                                   }
                                   var tableResultados ="NADA";
                                   var tableResultadosEnd =" ";
                                   if(resultados.length>0){
                                       tableResultados ="<table border='1'> ";
                                       tableResultadosEnd ="</table> ";
                                   }
                                   for(var i = 0; i < resultados.length; i++) {
                                        var obj = resultados[i];

                                        console.log(obj.line);
                                        console.log(obj.status_message);
                                        console.log(obj.card_token);
                                        console.log(obj.card_last);
                                        console.log(obj.card_brand);
                                        console.log(obj.card_exp);
                                        console.log(obj.card_bin);
                                        console.log(obj.card_score);
                                        console.log(obj.type_card);
                                        tableResultados =tableResultados+"<tr> ";
                                        tableResultados =tableResultados+"<td>"+obj.line+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_token+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_last+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_brand+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_exp+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_bin+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_score+"</td> ";
                                        tableResultados =tableResultados+"</tr> ";
 

                                    }
                                    if(tableResultados !="NADA"){
                                        document.getElementById("datosresultados").innerHTML = '<center> '+tableResultados+tableResultadosEnd+'</center>';                                        
                                    }
                                   
                                 },

                               )
                               .catch(function (data) {
                                   // Handle error here
                                   $scope.status =  data.config.url +" "+ data.status +" "+ data.statusText;
                                  // $scope.files = [];
                               });
                        }

                }//end consultok

                $scope.consulhist = function(){
                        
                        var a="/v1/consultarhistorialtokens";
                        boton1.disabled = true;
                        boton2.disabled = true;

                        var filetextarea = $scope.token;
                        /*
                        window.open(a+'?contenidohitorialToken='+filetextarea, '_blank');
                                boton1.disabled = false;
                                boton2.disabled = false;
                        */
                        var fd = new FormData();

                        //now add other data to fd
                        fd.append('token',$scope.token);
                       var request = $http ({
                           method: 'GET',
                           url : '/v1/consultarhistorialtokens?contenidohitorialTokenk='+$scope.clientreference,
//                            data : fd,
//                           transformRequest: angular.identity,
                           headers : {
                               'Content-Type' : undefined
                           }
                        });
                        if($scope.token.length >0){
                               request.then(
                                 function(response){
                                  boton1.disabled = false;
                                  boton2.disabled = false;

                                   console.log(JSON.stringify(response.data) );
                                   //$scope.respuesta =  response.data;
                                   //$scope.files = [];       
                                   var statusMssg =response.data.status_message_file;

                                   var resultados =response.data.data_row;

                                   if(statusMssg.indexOf("ERROR")>= 0 ){
                                        $scope.respuesta = statusMssg;

                                   }else{
                                        $scope.respuesta = statusMssg;
                                        
                                   }
                                   var tableResultados ="NADA";
                                   var tableResultadosEnd =" ";
                                   if(resultados.length>0){
                                       tableResultados ="<table border='1'> ";
                                       tableResultadosEnd ="</table> ";
                                   }
                                   for(var i = 0; i < resultados.length; i++) {
                                        var obj = resultados[i];

                                        console.log(obj.line);
                                        console.log(obj.status_message);
                                        console.log(obj.card_token);
                                        console.log(obj.paymentreference);
                                        console.log(obj.authcode);
                                        console.log(obj.idtransaction);
                                        console.log(obj.card_brand);
                                        console.log(obj.card_bin);
                                        console.log(obj.type_card);
                                        tableResultados =tableResultados+"<tr> ";
                                        tableResultados =tableResultados+"<td>"+obj.line+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_token+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.paymentreference+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.authcode+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.idtransaction+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_bin+"</td> ";
                                        tableResultados =tableResultados+"<td>"+obj.card_score+"</td> ";
                                        tableResultados =tableResultados+"</tr> ";
 

                                    }
                                    if(tableResultados !="NADA"){
                                        document.getElementById("datosresultados").innerHTML = '<center> '+tableResultados+tableResultadosEnd+'</center>';                                        
                                    }

                                 },

                               )
                               .catch(function (data) {
                                   // Handle error here
                                   $scope.status =  data.config.url +" "+ data.status +" "+ data.statusText;
                                  // $scope.files = [];
                               });
                        }

                }//end consulhist

            });
//for drag and drop files

            module.directive('fileDropzone',function(){
                  return{
                      restrict: 'A',
                      scope:{
                             filesToUpload:'='
                       },
                      link : function(scope,element,attributes){
                            element.bind('dragover',function(e){
                                  if(e !=null){
                                      e.preventDefault();
                                  }
                                  e.dataTransfer.effectAllowed = 'copy';
                                  element.attr('class','file-drop-zone-over');
                             });
                             element.bind('dragenter',function(e){
                                  if(e !=null){
                                      e.preventDefault();
                                  }
                                  e.dataTransfer.effectAllowed = 'copy';
                                  element.attr('class','file-drop-zone-over');

                             });
                             element.bind('drop',function(e){
                                  element.attr('class','file-drop-zone');
                                  if(e !=null){
                                      e.preventDefault();
                                  }

                                   var fileObjectsArray =[];
                                   angular.forEach(e.dataTransfer.files, function(file){
                                       //for the sake of previewing the files on the page before uploading          
                                        var reader = new FileReader();
                                         reader.onload=function(e){
                                                 scope.$apply(function(){
                                                       var newFilePreview = e.target.result;
                                                       var newFileName = file.name;
                                                       var newFileSize = file.size;
                                                       var fileObject =  {
                                                            file : file, //this is the exact file to be uploaded
                                                            name : newFileName,
                                                            size : newFileSize,
                                                            preview: newFilePreview
                                                       }
                                                       fileObjectsArray.push(fileObject);
                                                 });
                                         }
                                         reader.readAsDataURL(file);
      
                                   });
                                   scope.filesToUpload = fileObjectsArray;
                             });
                      }
                  }
            });
      }).call(this);
</script>
</body>
</html>